*{
    margin:0 ;
}
body{
    background-color: #3A3835
}
div.row{
    height: 40px;
}
div.row div{
    width: 40px;
    height: 40px;
    display: inline-block;
}
div.brick{
    background:url(asset/brick3.jpg);
    background-repeat: no-repeat;
    background-repeat: center;
    background-size: cover;
    display: inline-block;
}
div.coin{
    /* background: url('asset/coin.gif') center center / 10px no-repeat;  */
    background:url(asset/coin3D.gif);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
div.ghost{
   
    background:url(asset/ghost3D.gif);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
div.cherry{
    background:url(asset/cherry4.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

#pacman{
    background: url('asset/pacman1.gif');
    background-repeat: no-repeat;
    background-repeat: center;
    background-size: cover;
    width: 40px;
    height: 40px; 
    position: absolute;
}
#score{
    border:1px solid blue;
    width: 40px;
    height: 20px;
    color:blue;
    text-align: center;
    position: absolute;
    top:0px;
    left: 300px;
}
